.about_div{
    background-color: #FDF6E9;
    display: flex;
    justify-content: space-around;
    padding: 10px 100px;
    gap: 2rem;
    
}

.image_css{
    width:500px;
    height:500px;
}

.section_b{
    padding:100px;
}
.section_b h3 {
    color: #EC9706;
}
.section_b h2{
    color: #1D1D1D;
}
.section_b p {
    color:#393939;
}

@media screen and (min-width:300px) and (max-width:768px) {

    .about_div{
        flex-direction: column;
        padding: 10px;
    }
    .image_css{
        width: 100%;
        height: 100%;
    }
    .section_b{
        padding: 50px 50px;
    }
    .section_b h3 {
        font-size: 20px;
    }
    .section_b h2{
        font-size: 20px;
    }
    .section_b p {
        font-size: 16px;
    }
    
}